<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Lista de contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- [(ngModel)]="infoService.nombre" -->
  <ion-item>
    <ion-label position="floating">Nombre completo: </ion-label>
    <ion-input  [(ngModel)]='infoService.clNombre' #nombre ></ion-input>
  </ion-item>

  <!-- [(ngModel)]="infoService.numero" -->
  <ion-item>
    <ion-label position="floating">Telefono: </ion-label>
    <ion-input  [(ngModel)]='infoService.clNumero' #numero></ion-input>
  </ion-item>

  <!-- [(ngModel)]="infoService.correo" -->
  <ion-item>
    <ion-label position="floating">E-mail: </ion-label>
    <ion-input  [(ngModel)]='infoService.clCorreo' #correo></ion-input>
  </ion-item>

  <!-- [(ngModel)]="infoService.notas" -->
  <ion-item>
    <ion-label position="floating">Notas: </ion-label>
    <ion-input  [(ngModel)]='infoService.clNotas' #notas></ion-input>
  </ion-item>

  <ion-item>
    <ion-label  position="floating"> Fecha de nacimiento: </ion-label>
    <ion-datetime [(ngModel)]="infoService.date" displayFormat="DD/MMM/YYYY" #date></ion-datetime>
  </ion-item>

  <div>
    <ion-radio-group [(ngModel)]="infoService.sexo2">
      <ion-list-header>
        Genero
      </ion-list-header>
      <ion-item>
        <ion-label>Femenino</ion-label>
        <ion-radio value="Femenino"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio value="Masculino"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <!-- nombre.value, numero.value, correo.value, notas.value -->
  <div>
    <ion-button (click)="infoService.addPerson(nombre.value, numero.value, correo.value, notas.value, date.value)" expand="full">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-item>
    <ion-label>Ver notas</ion-label>
    <ion-toggle (ionChange)="infoService.show_q($event)"></ion-toggle>
  </ion-item>

  <app-tarjeta></app-tarjeta>

<!-- 
  <div *ngIf="infoService.arrPersonas.length !== 0">
    <ion-card *ngFor = "let item of infoService.arrPersonas" [ngClass]= "{'m' : item.sex, 'f': !item.sex}">
      <ion-card-header>

      <ion-card-title>{{item.strNombre}}</ion-card-title>
      <ion-card-title>{{item.intNumero}}</ion-card-title>
      <ion-card-title>{{item.strCorreo}}</ion-card-title>
      
      <ion-card-title *ngIf="infoService.blnShow == true">
        {{item.strNotas}}
      </ion-card-title>
      
      <div style="text-align: right;">
        <ion-button (click)= "infoService.eliminar(item)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button> 
      </div>

      </ion-card-header>
    </ion-card>

  </div>
  <div *ngIf="infoService.arrPersonas.length == 0">
    <h1>No se ha agregado contactos.</h1>
  </div> -->

<p *ngFor="let item of [1,1,1,1,1,1] | forNumber">{{item}}</p>

</ion-content>
  